<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sw801.remindersystem">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ActivityView.Activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityView.Activity.SettingsActivity" />
        <activity android:name=".ActivityView.Activity.AddEventActivity" />
        <activity android:name=".ActivityView.Activity.EditEventActivity" />
        <activity android:name=".ActivityView.Activity.AddSmartDeviceActivity" />
        <activity android:name=".ActivityView.Activity.EditSmartDeviceActivity" />
        <activity android:name=".ActivityView.Activity.GlobalMuteSettingActivity" />
        <activity android:name=".ActivityView.Activity.LocationSettingActivity" />
        <activity android:name=".ActivityView.Activity.ShoppingSettingActivity" />
        <activity android:name=".ActivityView.Activity.AddGlobalMuteSettingActivity" />
        <activity android:name=".ActivityView.Activity.AddLocationSettingActivity" />
        <activity android:name=".ActivityView.Activity.EditGlobalMuteSettingActivity" />
        <activity android:name=".ActivityView.Activity.EditLocationSettingActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".ActivityView.Activity.CreateEventMapActivity" />
        <activity android:name=".ActivityView.Activity.AddEventSmartDeviceList" />
        <activity android:name=".ActivityView.Activity.AddEventAccessory"></activity>
    </application>

</manifest>